@model DestCovery.Models.Package_Tour
@{
    ViewBag.Title = "AddPackageTour";
    Layout = "~/Views/Shared/_Layout_admin_dashboard.cshtml";
}

<div class="row">
    <div class="col-xs-8">
        <h2> @ViewBag.PACKAGENAME <small> (package)</small> </h2>
    </div>
    <div class="col-xs-4 text-right">
        <h2></h2>
        <h2> <small> Add Package Tour </small> </h2>
    </div>
</div>
<br />
<div class="row">
    @using (Html.BeginForm("AddPackageTour", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-xs-4">
            <div class="form-group">
                <label for="exampleInputEmail1"> Package Id </label>
                @Html.TextBoxFor(x => x.Package_Id, new { @class = "form-control", @required = "true", @autocomplete = "off", @placeholder = "Enter Package Name", @Value = @ViewBag.PACKAGEID, @readonly = "true" })
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label for="exampleInputEmail1"> Package Start Date </label>
                @Html.TextBoxFor(x => x.Tour_Start_Date, new { @class = "form-control", @required = "true", @autocomplete = "off", @placeholder = "Enter Package Name", @type = "datetime-local" })
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label for="exampleInputEmail1"> Package End Date </label>
                @Html.TextBoxFor(x => x.Tour_End_Date, new { @class = "form-control", @required = "true", @autocomplete = "off", @placeholder = "Enter Package Name", @type = "datetime-local" })
            </div>
        </div>

        <div class="col-xs-8">
        </div>

        <div class="col-xs-4">
            <div class="form-group">
                <label for="exampleInputEmail1"> Submit </label>
                <input type="submit" value="Submit" class="btn btn-primary btn-block btn-dark" />
            </div>
        </div>

    }
</div>

